[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CDMConnector"]
	path = CDMConnector
	url = https://github.com/darwin-eu/cdmconnector
[submodule "CodelistGenerator"]
	path = CodelistGenerator
	url = https://github.com/darwin-eu/codelistgenerator
[submodule "CohortCharacteristics"]
	path = CohortCharacteristics
	url = https://github.com/darwin-eu/cohortcharacteristics
[submodule "DrugExposureDiagnostics"]
	path = DrugExposureDiagnostics
	url = https://github.com/darwin-eu/drugexposurediagnostics
[submodule "IncidencePrevalence"]
	path = IncidencePrevalence
	url = https://github.com/darwin-eu/incidenceprevalence
[submodule "PatientProfiles"]
	path = PatientProfiles
	url = https://github.com/darwin-eu/patientprofiles
[submodule "TestGenerator"]
	path = TestGenerator
	url = https://github.com/darwin-eu/testgenerator
[submodule "TreatmentPatterns"]
	path = TreatmentPatterns
	url = https://github.com/darwin-eu/treatmentpatterns
[submodule "omopgenerics"]
	path = omopgenerics
	url = https://github.com/darwin-eu/omopgenerics
[submodule "visOmopResults"]
	path = visOmopResults
	url = https://github.com/darwin-eu/visomopresults
