[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CodelistGenerator"]
	path = CodelistGenerator
	url = https://github.com/darwin-eu/codelistgenerator
[submodule "IncidencePrevalence"]
	path = IncidencePrevalence
	url = https://github.com/darwin-eu/incidenceprevalence
